body {
  padding: 0;
  margin: 0;
  background-color: black;
}

#background {
  position: absolute;
  background-image: url('./scaled-background.png');
  background-size: cover;
  background-position: top;
  width: 100vw;
  height: 100vh;
  filter: blur(5px);
}

#game {
  width: 100vw;
  height: 100vh;
}

canvas {
  position: absolute;
  filter: none;
}
